<% title_tag t('menu.academia')%>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body item-list">
        <% @academia.each do |item| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="media user-card">
            <div class="media-body">
              <div class="media-heading"><%= link_to item.name, academium_path(item), target: "_blank" %></div>
               <div class="infos">
                <div class="item opts"><%= item.local %></div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>

      <div class="panel-footer clearfix">
        <%= will_paginate @academia %>
      </div>
    </div>
  </div>
</div>

