<% title_tag @academium.name %>

<div class="row">
  <div class="col-md-9">
    <div class="topic-detail panel panel-default">
      <div class="panel-heading media clearfix">
        <div class="media-body">
          <h1 class="media-heading">
           <%= @academium.name %>
          </h1>
          <div class="info">
            
          </div>
        </div>
      </div>
      <div class="panel-body">
       
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">相关新闻</div>
      <ul class="list-group">
        
      </ul>
    </div>  
  </div>
  <div class="sidebar col-md-3">
    <%= render 'shared/qr' %>
  </div>
</div>
