<div class="row">
  <div class="col-xs-12">
  <div class="panel panel-default userinfo">
    <div class="panel panel-heading">
      今日推荐
    </div>
    <div class="panel panel-body">
      <% @topics.group_by(&:date).each do |date, items| %>
      <%= render partial: 'wechat/recommendations/recommendation', :locals => { :date => date, :topics =>  items } %>
      <% end %>
    </div>
  </div>
</div>
</div>