
<% content_for :sitemap do %>
  <a href="<%= admin_events_path %>"><%= t("admin.menu.events")%></a> <i class="fa fa-angle-right"></i> <span class="current"><%= t("common.create")%></span>
<% end %>
<h1>修改内容</h1>

<%= render 'form' %>
