<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel panel-heading">
      Hi 亲, 其他感兴趣的资讯也可以添加告诉我们。
    </div>
    <div class="panel-body">
      <div id="custom-search-input">
        <form action="/wechat/topics/collect_tag" method="get" >
          <input type="text" name="q" data-role="tagsinput"/>
            <button class="btn btn-info btn-md btn-block" >
              <i class="fa fa-check"></i>
            </button>           
        </form>
      </div>
    </div>
  </div>
</div>