<% title_tag [@user.fullname, t('users.menu.events')].join(' · ') %>

<div class="row">
  <%= render "sidebar", user: @user %>
  <div class="col-md-8">
    <%= render "menu" %>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render "events", events: @events %>
      </div>
      <div class="panel-footer clearfix">
        <%= will_paginate @events %>
      </div>
    </div>
  </div>
</div>
