<div class="row">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel panel-heading">
        搜索关键词
      </div>
      <div class="panel-body">
        <div id="custom-search-input">
          <form action="/search" method="get" >
            <div class="input-group col-md-12">
              <input type="text" name="q" class="form-control input-lg" placeholder="焦点新闻／科技／企业／健康／体育赛事／娱乐" />
              <span class="input-group-btn">
                <button class="btn btn-info btn-lg" >
                  <i class="fa btn-search fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default userinfo">
      <div class="panel panel-heading">
        热门关键词
      </div>
      <div class="panel panel-body">
        <form action="/search" method="get">
        <% @keywords.each do |item| %>
          <div class="col-md-4">
            <div class="checkbox-inline">
            <input type="checkbox" name="q[]" value=<%= item.name %>><%= label_tag(:q, item.name) %></div>
          </div>
        <% end %>
        <div class="form-group pull-right">
          <button class="btn btn-info btn-lg" >
                  <i class="fa btn-search fa-search"></i>
                </button> </div>
        </form>
      </div>
    </div>
  </div>
</div>