<% title_tag t('events.new_event') %>

<div class="panel panel-default">
  <div class="panel-heading hide-ios"><%= t('events.edit_event') %></div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>

