<br>
<br>
<div class="panel panel-deafult">
  <div class="panel-body">
     <%= render @topics %>
  </div>
</div>
<br>
<br>
<div id="top">
  <nav class="navbar-fixed-top">
    <div class="btn-group btn-group-lg btn-group-justified">
      <%= link_to "按时间",time_more_wechat_nodes_path,class:"btn  btn-dy1" %>
      <%= link_to "按圈子",circle_more_wechat_nodes_path,class:"btn btn-default btn-dy2" %>
    </div>
  </nav>
</div>

<style type="text/css">
  .btn-dy1 {
    background-color: #D8D8D8;
  }
  .article-title{
    font-size: 16px;
  }
</style>
