<div class="row">
  <div class="col-xs-12">
  <div class="panel panel-default" id="user_github_repos">
    <div class="panel-heading">编辑</div>
    <div class="panel-body">
      <%= render 'form' %>
    </div>
    <% if @passage.status != Passage.audit_statuses[:close] %>
    <div class="panel-body">
      <%= link_to "关闭", close_wechat_user_passage_path(@passage), class: "btn btn-default btn-block" %>
    </div>
    <% end %>
    
    </div>
  </div>
</div>
